/* h1{
    background-color: red;
} */

.Calculator{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.Calculator input{
    margin: 1rem;
    padding: 1rem;
    width: 60%;
}
.Calculator button{
 padding: 1rem;
 background-color: #87CEEB;
 border: 1.5px solid black;

}

.cal-btn{
    margin-bottom: 0.5rem;
}

.Calculator-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
}
